.addNewProduct-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 174, 0, 0.445);
    border-radius: 10px;
    padding: 1.5rem;
    width: 80%;
}
.addNewProduct-seccionsContainer{
    width: 90%;
}
.addNewProduct-campos-container{
    background-color: rgba(0, 0, 0, 0.637);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-weight: 900;
        & label{
            color: $color-principal;
        }
        & input{
            padding: .7rem;
            border-radius: 5px;
            border: none;
            width: 95%;
            height: .85rem;
        }
}
.addNewProduct-campos{
    display: flex;
    width: 100%;
    gap: .5rem;
    align-items: center;
    color: $color-principal;
}
.addNewProduct-IconoPlus{
    color: whitesmoke;
    background-color: $color-principal;
    border-color: whitesmoke;
    cursor: pointer;
    border: 2px solid $color-principal ;
    padding: .5rem;
    border-radius: 50%;
    font-size: .7rem;
    &:hover{
        background-color: whitesmoke;
            color: $color-principal;
    }
}
.addNewProduct-btnSubmit{
    background-color: $color-principal;
    margin-top: 1rem;
    padding: .5rem;
    height: 3rem;
    width: 90%;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: $color-hover;
    }
}
@media (min-width:1030px){
    .addNewProduct-seccionsContainer{
        width: 100%;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .addNewProduct-btnSubmit{
        width: 50%;
    }
    .addNewProduct-campos-container{
        width:40%
    }
}