.adminDashBoard-container{
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 150px 1rem 0 1rem;
}
@media (min-width:780px){
.adminDashBoard-container{
    width: 70%;
}}
@media (min-width:1030px){
    .adminDashBoard-container{
        width: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    margin: 150px 1rem 0 1rem;
}
}
