.userDashBoard-container-rowTable{
    position: relative;
    font-size: .6rem;
    margin: .5rem 0 .5rem 0;
    border: 1px solid;
    box-shadow: 3px 3px 3px rgb(100, 100, 100);
    border-radius: 5px;
    display: grid;
    width: 100%;
    grid-template-areas: 
     "modelo  imagesLargeView"
     "code  imagesLargeView"
     "marca  imagesLargeView"
     "category  productColor"
     "subCategory subCategory"
    "proveedor price"
     ;
    grid-template-columns: 6fr  4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
}
.userDashBoard-item-celdaCode{
    grid-area: code;
}
.userDashBoard-item-celdaModelo{
    grid-area: modelo;

    & p:last-child{
        font-weight: bolder;
    }
}
.userDashBoard-item-celdaCategory{
    grid-area: category;
}
.userDashBoard-item-celdaProveedor{
    grid-area: proveedor;
}
.userDashBoard-item-celdaPrice{
    grid-area: price;

    & p:nth-child(2){
        color: red;
        font-weight: bolder;
    }
}
.userDashBoard-item-celdaMoreInfo{
    grid-area: moreInfo;
    display: none;
}
.userDashBoard-item-celdaMarca{
    grid-area: marca;
}
.userDashBoard-item-celdaColor{
    grid-area: productColor;
}
.userDashBoard-item-celdaSubCategory{
    grid-area: subCategory;
}
.userDashBoard-item-celdaImages{
    grid-area:  imagesLargeView;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
    & img{
        width: 70px;
        height: 57px;
    }
}
.userDashBoard-item-celdaCode,.userDashBoard-item-celdaSubCategory,.userDashBoard-item-celdaColor,.userDashBoard-item-celdaCategory,.userDashBoard-item-celdaModelo,.userDashBoard-item-celdaProveedor,.userDashBoard-item-celdaPrice,.userDashBoard-item-celdaMarca{
    display: flex;
    width: 100%;
    height: 1.3rem;
    align-items: center;
    border: 0.1px solid gray;
    gap: .5rem;
    overflow: hidden;
}
.userDashBoard-item-celdaCode>p:first-child,.userDashBoard-item-celdaSubCategory>p:first-child,.userDashBoard-item-celdaColor>p:first-child,.userDashBoard-item-celdaCategory>p:first-child,.userDashBoard-item-celdaModelo>p:first-child,.userDashBoard-item-celdaProveedor>p:first-child,.userDashBoard-item-celdaPrice>p:first-child,.userDashBoard-item-celdaMarca>p:first-child{
    min-width: 70px;
    height: 100%;
    background-color: rgb(48, 47, 47);
    color: $color-principal;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userDashBoard-item-celdaCode>p:nth-child(2),.userDashBoard-item-celdaSubcategory>p:nth-child(2),.userDashBoard-item-celdaColor>p:nth-child(2),.userDashBoard-item-celdaCategory>p:nth-child(2),.userDashBoard-item-celdaModelo>p:nth-child(2),.userDashBoard-item-celdaProveedor>p:nth-child(2),.userDashBoard-item-celdaPrice>p:nth-child(2),.userDashBoard-item-celdaMarca>p:nth-child(2){
 height: 100%;
 display: flex;
 justify-content: start;
 align-items: center;
}
.userDashBoard-container-inputsSearch{
    display: flex;
    background-color: black;
    border-radius: 5px;
    justify-content: center;
    margin: .5rem 0 .5rem 0;
    padding: .5rem;
    flex-wrap: wrap;
    gap: .4rem;
}
.userDashBoard-container-inputsSearch>div>input{
    width: 97.5%;
    height: 2rem;
    font-size: .8rem;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    border-radius: 4px;
    letter-spacing: .4px;
}
.userDashBoard-container-inputsSearch>div{
    width: 99%;
}
.userDashBoard-container-inputsSearch>div>h5{
    margin: 5px 0 0 0;
    color: $color-principal;
}
.cardProduct-deleteIcon{
    position: absolute;
    background-color:whitesmoke ;
    color: $color-principal;
    border: solid 2px $color-principal;
    border-radius: 50%;
    padding: 2px;
    font-size: 2rem;
    right: 0;
    cursor: pointer;
    &:hover{
        background-color: $color-principal;
        color: whitesmoke;
        border: inherit whitesmoke;
        
    }
}
@media (min-width:1000px){

    .userDashBoard-container-rowTable{
        font-size: .8rem;
    }
    .userDashBoard-item-celdaPrice>p:nth-child(2){
    font-size: 1rem;
}

    .userDashBoard-item-celdaMoreInfo{
    display: flex;
    width: 100%;
    height: 1.5rem;
    align-items: center;
    border: 0.1px solid gray;
    gap: .5rem;

    & p:first-child{
        min-width: 70px;
        height: 100%;
        background-color: rgb(48, 47, 47);
        color: $color-principal;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.userDashBoard-item-celdaColor>p:first-child,.userDashBoard-item-celdaMoreInfo>p:first-child,.userDashBoard-item-celdaSubCategory>p:first-child,.userDashBoard-item-celdaCode>p:first-child,.userDashBoard-item-celdaColor>p:first-child,.userDashBoard-item-celdaCategory>p:first-child,.userDashBoard-item-celdaModelo>p:first-child,.userDashBoard-item-celdaProveedor>p:first-child,.userDashBoard-item-celdaPrice>p:first-child,.userDashBoard-item-celdaMarca>p:first-child{
    min-width: 100px;
}
.userDashBoard-container-rowTable{
    grid-template-areas: 
     "modelo modelo productColor imagesLargeView"
     "code code proveedor imagesLargeView"
     "category category moreInfo imagesLargeView"
    "subCategory subCategory price imagesLargeView"
    "marca marca marca imagesLargeView"
     ;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
}
.userDashBoard-item-celdaImages > img{
    width: 100px;
    height: 85px;}
.userDashBoard-item-celdaCode,.userDashBoard-item-celdaColor,.userDashBoard-item-celdaSubCategory,.userDashBoard-item-celdaCategory,.userDashBoard-item-celdaModelo,.userDashBoard-item-celdaProveedor,.userDashBoard-item-celdaPrice,.userDashBoard-item-celdaMoreInfo,.userDashBoard-item-celdaMarca{
    height: 1.5rem;
}
}
@media (min-width:1290px){
.userDashBoard-container-inputsSearch>div{
    width: 450px;
}
.userDashBoard-container-inputsSearch>input{
    width: 445px;
}

}
