.header-container{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    height: 120px;
    background-position: center;
    background-repeat: repeat;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    width: 110px;
    height: 30px;
    border-radius: 10px;
    margin: 0 0 0 1rem;
}

.header-linksContainer{
    display: flex;
    font-weight: bolder;
    align-items: center;
    color: gainsboro;
    font-size: .85rem;
    & a{
        color: $color-principal;
        margin: 0 1.5rem 0 0;
        cursor: pointer;
        &:hover{
            cursor: pointer;
            color: $color-hover;
            transition-delay: .1s;
        }
    }
}
.header-cartContainer{
    position: relative;
}
.header-cartIcon{
    font-size: 1.2rem;
    color: $color-principal;
    margin-right: 1rem;
}
.header-cartCounter{
    position: absolute;
    font-size: .8rem;
    padding: 0;
    background-color: whitesmoke;
    border-radius: 50%;
    width: 40%;
    height: 60%;
    margin: 0;
    top: -5px;
    right: 5px;
    color: black;
}
@media (min-width:780px){
    .header-linksContainer{
        gap: 2rem;
        font-size: 1.1rem;
    }
    .header-cartIcon{
        font-size: 1.3rem;
    }
}
@media (min-width:1230px){
    .header-logo{
        width: 150px;
        height: 45px;
        border-radius: 10px;
        margin: 0 0 0 4rem;
    }
}