.addNewNewsModal_bodyContainer {
    height: auto;
    padding: 0 1rem 1rem 1rem;
    & h3{
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
    & form{
        width: 100%;
        display:flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        & div{
            width: 100%;
            display: flex;
            justify-content: center;
            &:nth-child(7){
                margin-bottom: 1rem;
            }
            & label, input{
                width: 49% ;
                border: none;
                border-radius: 5px;
            }
        }
        & section{
            width: 100%;
            & div{
                border-radius: 10px;
                
            }
        }
        & button{
            background-color: black;
            color: whitesmoke;
            width: 70%;
            margin: 0 3rem;
            margin: 1rem 0;
        }
        & img{
            width: 200px;
            height: 200px;
        }
    }
}