.newsCard-container{
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 2px solid $color-principal;
    background-color: $color-principal;
    box-shadow: 3px 3px 3px rgb(100, 100, 100);
    border-radius: 0 5px 5px 5px;
    padding: .5rem;
}
.cardNews-deleteIcon{
    position: absolute;
    cursor: pointer;
    right: .5rem;
    top: .5rem;
    color: $color-principal;
    padding: 4px;
    font-size: 1.5rem;
    background-color: whitesmoke;
    border-radius: 50%;
    &:hover{
        transform: scale(1.1);
    }
}
.cardNews-imagesContainer{
    display: flex;
    justify-content: center;
    gap: .5rem;
    min-height: 150px;
    flex-grow: 1;
    margin-bottom: 1rem;
}
.cardNews-image{ 
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    min-width: 49%;
}
.newsCard-detailContainer{
    display: flex;
    margin-bottom: .2rem;
    & p{
        margin: 0;
        font-size: .6rem;
        text-align: start;
        background-color: rgb(31, 30, 30);
    }
    & p:first-child{
        width: 20%;
        padding-left: 5px;
        color: $color-principal;
        font-weight: bolder;
    }
    & p:last-child{
        padding-left: 5px;
        width: 80%;
        color: whitesmoke;
    }
}
.vahiculoNews{
    & p:last-child{
        font-weight: bolder;
    }
}
.newsCard-createDate{
    position: absolute;
    left: -2px;
    top: -2.5rem;
    color: whitesmoke;
    background-color: $color-principal;
    padding: 0 10px;
    border-radius: 10px 10px 0 0;
}
@media (min-width:"600px"){
    .cardNews-image{
    min-width: 230px;
    min-height: 210px;
    border-radius: 10px;
}
.newsCard-container{
    width: 480px;
    height: 350px;
}
}
@media (min-width:"800px") {
.newsCard-detailContainer {
        & p {
            font-size: .8rem;
        }}
.newsCard-container {
    height: 450px;
}
    }