.userDashBoard-container-headTable{
    background-color: rgb(238, 165, 29);
    font-size: .8rem;
    width: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userDashBoard-container-headTable>h4{
    width: 16.3%;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userDashBoard-container-rowTable{
    font-size: .7rem;
    width: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userDashBoard-container-rowTable>p{
    width: 16.3%;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.userDashBoard-container-rowTable>p:nth-child(2){
    justify-content: center;
    align-items: start;
    cursor: pointer;
}
.userDashBoard-container-rowTable>p:nth-child(3){
    justify-content: center;
    align-items: start;
}
.userDashBoard-container-rowTable>p:nth-child(3):hover{
    background-color: rgb(245, 195, 103);
    padding:0 2px 0 2px;
    overflow-wrap:unset;
    height: auto;
    min-height: 50px;
    width: 100px;
}