.userDashBoard-container{
    width: 530px;
}
.userDashBoard-container-headTable{
    background-color: rgb(238, 165, 29);
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userDashBoard-container-headTable>h4{
    width: 16.3%;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userDashBoard-container-rowTable{
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userDashBoard-container-rowTable>p{
    width: 16.3%;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.userDashBoard-container-rowTable>p:nth-child(2){
    justify-content: center;
    align-items: start;
    cursor: pointer;
}
.userDashBoard-container-rowTable>p:nth-child(3){
    justify-content: center;
    align-items: start;
}
.userDashBoard-container-rowTable>p:nth-child(3):hover{
    background-color: rgb(245, 195, 103);
    padding:0 2px 0 2px;
    overflow-wrap:unset;
    height: auto;
    min-height: 50px;
    width: 100px;
}
.userDashBoard-container-inputsSearch{
    display: flex;
    background-color: black;
    border-radius: 5px;
    justify-content: center;
    margin: .5rem 0 .5rem 0;
    padding: .5rem;
    flex-wrap: wrap;
    gap: .4rem;
}
.userDashBoard-container-inputsSearch>input{
    width: 31%;
    height: 1.7rem;
    font-size: .8rem;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.432);
    border-radius: 3px;
    letter-spacing: .4px;
}
.userDashBoard-container-inputsSearch>div{
    width: 99%;
}
