.productDescriotion_container{
    margin-top: 180px;
    height: auto;

}
.productDescription_contentContainer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;
    flex-wrap: wrap;
    width: 90vw;
}
.productDescription_mainImage{
width: 100%;
border-radius: 20px;
object-fit: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.637);}
.productDescription_react-player{
    width: 100% !important;
    & iframe{
        border-radius: 30px;
    }
    order: 0;
}
.productDescription_description{
    order:3;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 30px;
    height: auto;
    margin-bottom: 2rem;
    & p{
        color: $color-principal;
        font-weight: bolder;
        line-height: 25px;
        font-size: .8rem;
    }
    & p:first-child{
        padding-top: 1rem;
    }
    & p:last-child{
        padding-bottom: 1rem;
    }
}
.productDescription_descriptionLine{
    margin: 0;
}
.productDescription_categoriesContainer{
    order: 1;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    & button{
        background-color: $color-principal;
        color: whitesmoke;
        font-size: .7rem;
        &:hover{
            background-color: $color-hover;
        }
    }
}
.productDescription_sliderContainer{
    width: 100%;
    order: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
@media (min-width:"800px") {
    .productDescription_react-player {
        width: 70% !important;
        & iframe {
            border-radius: 30px;
        }
    }
    .productDescription_mainImage {
        width: 80%;
    }
}
@media (min-width:"1200px") {
    .productDescription_contentContainer {
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
    }
    .productDescription_mainImage {
        width: 70%;
    }
    .productDescription_categoriesContainer {
        order: 0;
        & button{
            font-size: 1rem;
        }
    }
    .productDescription_react-player {
        width: 30% !important;
        order: 0;
    }
    .productDescription_sliderContainer {
        order: 0;
        width: 60%;
        & h3{
            padding-top: 0 !important;
        }
    }
    .productDescription_description {
        order: 0;
        & p {
            font-size: 1rem;
        }
    }
}
@media (min-width:"1400px") {
    .productDescription_react-player {
            width: 25% !important;
        }
    .productDescription_sliderContainer {
        width: 50%;
    }
    .productDescription_mainImage {
        width: 40%;
        height: 450px;
    }
}