.form{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    position: relative;
    width: 300px;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    gap: 1rem;
    align-items: center;
}
.form_response-message{
    margin-top: .5rem;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    font-weight: bolder;
    border-radius: 5px;
}
.backgroundError{
    background-color: red;
}
.backgroundSucces{
    background-color: rgb(8, 212, 52);
}
.form-campos{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
    color: $color-principal;
    font-weight: 900;

    input{
        padding: .7rem;
        border-radius: 5px;
        border: solid thin;
    }
}
.form-boton{
    background-color: $color-principal;
    margin-top: 1rem;
    padding: .5rem;
    height: 3rem;
    width: 100%;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: $color-hover;
    }
}
.form_background{
    position: absolute;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    height: inherit;
    z-index: -1;
    opacity: .8;
    background-color: rgb(7, 7, 7);
}
.form-linkToRegistrer{
    cursor: pointer;

    &:hover{
    font-weight: bolder;
    }
}
.form-Container-OlvidePass_GoToRegister{
    display: flex;
    gap: .8rem;
    justify-content: center;

    p{
        width: 45%;
        text-align: center;
        cursor: pointer;
    }
}
.form-spinnerContainer{
    position: absolute ;
    top:500px
}
@media (min-width:780px){
    .form-container{
        gap: 1rem;
    }
}