.adminDashBoard-container{
    border: solid 1px orange;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 150px 1rem 0 1rem;
}
.adminDachBoard-buttonUpload{
    background-color: orange;
    margin-top: 1rem;
    padding: .5rem;
    height: 3rem;
    width: 70%;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.adminDashBoard-input{
    display: flex;
    width: 100%;
    justify-content: center;
}
.adminDashBoard-input>input[type="file" i]{
    width: 100%;
    font-family: inherit;
    padding: 1rem;
    font-family: inherit;
}
.adminDashBoard-input {
background: rgb(255,154,0);
background: linear-gradient(90deg, rgba(255,154,0,0.47102591036414565) 0%, rgba(242,231,0,0.5998774509803921) 100%);
border-radius: 10px;}
.adminDashBoard-imgOfCategory-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.adminDashBoard-btnShowImagesCategory{
    background-color: orange;
    margin-top: 1rem;
    padding: .5rem;
    height: 3rem;
    width: auto;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media (min-width:780px){
.adminDashBoard-container{
    width: 70%;
}}
@media (min-width:1030px){
.adminDashBoard-container{
    width: 50%;
}}
@media (min-width:1700px){
.adminDashBoard-container{
    width: 30%;
}}