.carCardHome_container{
    box-shadow: 3px 3px 3px rgb(100, 100, 100);
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
    height: 180px;
    position: relative;
    & img{
        max-width: 100%;
        height: 80%;
        object-fit: fill;
    }
    & h4{
        margin: .5rem;
    }
    background-color: white;
    cursor: pointer;
}
.carCardHome_backGroundHover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    & h3{
        display: none;
        background-color: $color-principal;
        width:auto;
        border-radius: 5px;
        font-size: 1.2rem;
        padding: 10px;
        color: whitesmoke;
    }
}
.carCardHome_backGroundHover:hover{
    background-color: rgba(0, 0, 0, 0.281);
    & h3{
        display: block;
    }
}