.productModal-text-container{
    height: auto;
}
.productModal-image-coontainer{
    display: flex;
    justify-content: center;
    margin: 1rem 0 0rem 0;
    gap: 1rem;
}
.productModal-image{
    width: 180px;
    height: 155px;
    border-radius: 5px;
    cursor: pointer;
}
.productModal-title{
    text-align: center;
    margin: 0;
}
@media (min-width:780px){
.ReactModal__Content--after-open{
    width: 50% !important;
}.productModal-image{
    width: 210px;
    height: 180px;
}}
@media (min-width:1200px){.productModal-image{
    width: 240px;
    height: 210px;
}
}